<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<servlet>
		<description></description>
		<display-name>ServletInsertar</display-name>
		<servlet-name>ServletInsertar</servlet-name>
		<servlet-class>controlador.ServletInsertar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletInsertar</servlet-name>
		<url-pattern>/ServletInsertar</url-pattern>
	</servlet-mapping>


	<display-name>WebEmpleado_MVC_JPA</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>SerlvetInsertar</display-name>
		<servlet-name>SerlvetInsertar</servlet-name>
		<servlet-class>controlador.ServletInsertar</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SerlvetInsertar</servlet-name>
		<url-pattern>/SerlvetInsertar</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ServletListar</servlet-name>
		<servlet-class>controlador.ServletListar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletListar</servlet-name>
		<url-pattern>/ServletListar</url-pattern>
	</servlet-mapping>


	<servlet>
		<description>Servlet para editar datos</description>
		<display-name>ServletEditar</display-name>
		<servlet-name>ServletEditar</servlet-name>
		<servlet-class>controlador.ServletEditar</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletEditar</servlet-name>
		<url-pattern>/ServletEditar</url-pattern>
	</servlet-mapping>


	<servlet>
		<description></description>
		<display-name>ServletActualizar</display-name>
		<servlet-name>ServletActualizar</servlet-name>
		<servlet-class>controlador.ServletActualizar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletActualizar</servlet-name>
		<url-pattern>/ServletActualizar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletEliminar</servlet-name>
		<servlet-class>controlador.ServletEliminar</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletListarDepartamentos</display-name>
		<servlet-name>ServletListarDepartamentos</servlet-name>
		<servlet-class>controlador.ServletListarDepartamentos</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEliminar</servlet-name>
		<url-pattern>/eliminarEmpleado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletListarDepartamentos</servlet-name>
		<url-pattern>/ServletListarDepartamentos</url-pattern>
	</servlet-mapping>

</web-app>